@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

.nav-header{
  background: rgba( 33, 33, 33, 0.25 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* Color for every box */
.custom-nav{
  background-color: #4d4d4d;
}

.custom-body{
  background-color: #1E1E1E;
}

/* CUSTOMIZED SCROLLBAR */
body::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background-color: #1E1E1E; /* color of the scrollbar track */
}

body::-webkit-scrollbar-thumb {
  background-color: #4d4d4d; /* color of the scrollbar thumb */
  border-radius: 5px; /* roundness of the scrollbar thumb */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #757575; /* color of the scrollbar thumb when hovered */
}

/* CUSTOMIZED NAVBAR */

.nav-link {
  color: #A6A6A6; /* Set the color to #A6A6A6 */
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ffffff;
  color: #ffffff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover:after {
  color: #ffffff; /* Set the color to #ffffff */
  width: 100%;
  left: 0;
}

.navbar-nav .nav-link.active{
  font-weight: bold; /* Highlight active link */
  color: #ffffff;
}

@media (max-width: 991px) {
  .nav-link{
  background-color: #4d4d4d;
  }
}

/* Carousel */

.card-img-top {
  object-fit: cover;
  height: 400px;
}

.swiper-navBtn{
  color: #CDC2BC;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover{
  color: #FFFFFF;
}

.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 20px;
}

.swiper-button-next{
  right: 0;
}

.swiper-button-prev{
  left: 0;
}

.swiper-pagination-bullet{
  background-color: #CDC2BC;
  opacity: 1;
}

.swiper-pagination-bullet-active{
  background-color: #FFFFFF;
}